<div class="card m-5 d-flex" id="cardbord" style="width: 85rem;">
    <div class="card-header d-flex justify-content-between" id="cardhead">
        <p id="titlestyle">{{title}}</p>
        <p id="userstyle">Posted By: {{username}} {{created_on}}</p>

    </div>
    <div id="contentstyle">
        <ul class="list-group list-group-flush">
            <li class="list-group-item p-5">{{contents}}</li>
        </ul>
    </div>
</div>

{{#each comments}}
<div>
    {{username}}
    {{contents}}
    {{created_on}}
</div>
{{/each}}